@van-primary-color:#1FA14A;
@van-button-primary-background:linear-gradient(135deg,#1FA14A,#0F5E2C);
@van-button-primary-border-color:transparent;
@van-tabbar-item-active-color:#1FA14A;
@van-nav-bar-background:#FFFFFF;
@van-nav-bar-title-text-color:#1E2B22;
@van-tab-active-text-color:#1FA14A;
@van-tabs-bottom-bar-color:#1FA14A;
@van-cell-value-color:#1E2B22;
@van-field-label-width:96px;
@van-cell-vertical-padding:13px;
